.Putos {
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Perros {
    height: 500px;
    width: 100%;
    background-color: rgb(245, 255, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.motivacion
{
    font-weight: bold;
    font-size: 2rem;
    font-family: sans-serif;
    height: 200px;
    width: 100%;
    background-color: #be4343;
    color: #ffffff;
    align-items: center;
    display: block;
    text-align: center;
    padding: 5%; 
}

.motivacion:hover
{
    background-color: #ffffff;
    color: #be4343;
}
